@import "tailwindcss";
@plugin '../plugins/hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --foreground: #171717;
  --header-height: 85px;
  --content-height: calc(100vh - var(--haader-height));
  --menu-width: 300px;
  /* hero ui */
  --heroui-secondary: 236.98 36% 54%;
  --heroui-secondary-100: 236.98 36% 95%;
  --heroui-secondary-200: 236.98 36% 88%;
  --heroui-secondary-300: 236.98 36% 76%;
  --heroui-secondary-400: 236.98 36% 65%;
  --heroui-secondary-500: 236.98 36% 54%; /* base */
  --heroui-secondary-600: 236.98 36% 44%;
  --heroui-secondary-700: 236.98 36% 34%;
  --heroui-secondary-800: 236.98 36% 24%;
  --heroui-secondary-900: 236.98 36% 14%;
  --heroui-radius-medium: 4px;
  --background: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --font-silkscreen: var(--font-silkscreen);
  --color-primary: #e3b38f;
  --color-primary-100: #f7e6d9;
  --color-primary-600: #e4957d;
  --color-primary-800: #cc683b;
  --color-primary-900: #b74e26;
  --color-common-text: #404040;
  --shadow-common: 4px 4px 10px rgba(0, 0, 0, 0.25);
  --shadow-float: 2px 3px 0px rgba(204, 104, 59, 0.8);
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  .bgimg {
    mix-blend-mode: soft-light;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  .bgimg {
    background-image: url(/common/bg.svg);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e3b38f;
  border-radius: 0;
}

.menu-active {
  @apply shadow-(--shadow-float) border-2 border-primary-800/80 bg-gray-100;
}
